background-color: purple;
h1{
font-size - 20px;
}

body{
background-color: red;
width: 10px;
font-family: Sans;

}

title{
font-size: 30px;
color: Emerald;
font-weight: 10px;
}


form{
border-radius: red;

}

