/* background-color: purple; */
h1{
font-size : 20px;
color: #27667B;
}

body{
background-color: beige;
/* width: 10px; */
font-family: Sans;

}

title{
font-size: 30px;
color: Emerald;
font-weight: 10px;
}


form{
border-radius: rgb(80, 10, 10);

}

div{
color: Navy-blue;
background-color: brown;
padding: 10px 12px;
}

#heading{
    text-align: center;
}

#newTask, #deleteTask{
    padding: 10px 15px;
    border-radius: 5px;
    border-color: green;
}

footer{
    text-align: center;
    text-decoration: wavy;
    color: #4B164C;
}